# Assignment #7

Create the hospital database from the hospital.sql script under the Anaconda prompt with: sqlite3 hospital.db < hospital.sql. This will create hospital.db. Then connect to the database. Documentation is available at https://en.wikibooks.org/wiki/SQL_Exercises/The_Hospital

In [49]:
import sqlite3

import pandas as pd

In [61]:
connection = sqlite3.connect('hospital.db')

with open('hospital.sql', 'r') as sql_file:
    connection.executescript(sql_file.read())

connection.close()

connection.open()

OperationalError: table Physician already exists

Select from the Physician table all the employees with their ID, name, position, and SSN in asscending order by name.

In [62]:
pd.read_sql("""SELECT * FROM physician ORDER BY name ASC""", connection)

   EmployeeID               Name                      Position        SSN
0           5          Bob Kelso        Head Chief of Medicine  555555555
1           3   Christopher Turk  Surgical Attending Physician  333333333
2           2        Elliot Reid           Attending Physician  222222222
3           1        John Dorian               Staff Internist  111111111
4           7           John Wen  Surgical Attending Physician  777777777
5           8  Keith Dudemeister                   MD Resident  888888888
6           9        Molly Clock        Attending Psychiatrist  999999999
7           4       Percival Cox    Senior Attending Physician  444444444
8           6       Todd Quinlan  Surgical Attending Physician  666666666

Select from the Patient table all patients whose names start with 'G'.

In [57]:
pd.read_sql("""SELECT * FROM patient WHERE name LIKE 'G%'""", connection)

         SSN           Name         Address     Phone  InsuranceID  PCP
0  100000002  Grace Ritchie  37 Snafu Drive  555-0512     36546321    2

SQL's NOT keyword reverses the value of a WHERE clauses's condition. Select from the Physician table all physicians whose Position does not end with 'physician'.

In [58]:
pd.read_sql("""SELECT * FROM physician WHERE position NOT LIKE '%physician'""", connection)

   EmployeeID               Name                Position        SSN
0           1        John Dorian         Staff Internist  111111111
1           5          Bob Kelso  Head Chief of Medicine  555555555
2           8  Keith Dudemeister             MD Resident  888888888
3           9        Molly Clock  Attending Psychiatrist  999999999

Select all patients with their SSN and Name followed by primary care provider (PCP) doctor Elliot Reid.

In [60]:
pd.read_sql("""SELECT * FROM patient WHERE pcp = 'Elliot Reid'""", connection)

Empty DataFrame
Columns: [SSN, Name, Address, Phone, InsuranceID, PCP]
Index: []